<!--The content below is only a placeholder and can be replaced.-->
<h1>
  Welcome to {{ title }}!
</h1>

<div class="container" style="text-align: left;">
  <div class="row">
    <div class="col-md-3">
      <Producto></Producto>
    </div>
    <div class="col-md-9">
      <catalogo></catalogo>
    </div>
  </div>
</div>
<!-- <div class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <ul>
    <li class="text" *ngFor="let producto of productos | async">
      {{producto.nombre}}
    </li>
  </ul>
</div> -->
